.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow: 5px 5px 5px gainsboro;
}

.note{
    font-size: 15px;
    color: gold;
}

.copy_right_footer{
    position: fixed;
    color:white;
    bottom: 0;
    width:100%;
    background: indianred;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid darkmagenta;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gainsboro;
}